body{
    margin: 0px;
    padding: 0px;
    box-sizing: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    background-color: bisque;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(137, 83, 18)
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
    width: 500px;
    margin-top: 50px;
    padding: 40px 20px;
    border: 1px solid black;
    border-radius: 10px;
}
input{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgb(78, 78, 78);
}
.btn{
    padding: 10px;
    border: 1px solid rgb(10, 140, 34);
    border-radius: 10px;
    font-size: 15px;
    color: white;
    background-color: rgb(7, 160, 7);
}
.btn:hover{
    cursor: pointer;
    border: 1px solid rgb(21, 77, 7);
    background-color: rgb(0, 130, 0);
}
